<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mk.ukim.finki.jmm.intentsshowcase"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="mk.ukim.finki.jmm.intentsshowcase.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="mk.ukim.finki.jmm.intentsshowcase.ExplicitActivity"
            android:label="@string/app_name" >
            <intent-filter>
            </intent-filter>
        </activity>
        <activity
            android:name="mk.ukim.finki.jmm.intentsshowcase.ImplicitActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="mk.ukim.finki.jmm.intentsshowcase.ACTION_IMPLICIT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="mk.ukim.finki.jmm.intentsshowcase.MyBrowserActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="finki.ukim.mk"
                    android:scheme="http" />
            </intent-filter>
        </activity>
    </application>

</manifest>